@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebebeb;
    --foreground: #f8f8f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
